* {
    border: solid gold;
}
button, .submit {
    background: gold;
    padding: 0.5em;
    margin: 0.5em;
}
body {
    background-color: #f0ece3;
}
h1 {
    text-align: center;
    color: #596e79;
    text-shadow: 1px 1px 2px #c7b198;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 18%;
    margin: 2%;
    background: #12121212;
    box-sizing: border-box;
    padding: 2%;
    box-shadow: 5px 5px 50px silver;
    border-radius: 30px;
}
li > img {
    width: 200px;
    display: block;
    border-radius: 6px;
}